.header {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(15px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: var(--border-radius-full);
  z-index: 1000;
  border: 1px solid rgba(160, 160, 160, 0.1);
}

.header-container {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: var(--padding-xl) var(--padding-2xl);
}

.navigation {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: var(--padding-lg);
}

.nav-item {
  position: relative;
}

.nav-link {
  text-decoration: none;
  color: var(--text-color);
  font-weight: var(--font-semibold);
  font-size: var(--text-normal);
  padding: var(--padding-md) var(--padding-2xl);
  border-radius: var(--border-radius-full);
  transition: all 0.3s ease;
  position: relative;
}

.nav-link:hover {
  color: var(--text-color);
  background-color: var(--secondary-color-800);
}

/* Active state */
.nav-link.active {
  color: var(--secondary-color-900);
  background-color: var(--neutral-color-50);
}

/* Responsive design */
@media (max-width: 480px) {
  .header-container {
    padding: var(--padding-md) var(--padding-lg);
    height: 60px;
  }
}
