.dashboard-page-title {
  font-size: var(--text-6xl);
  font-weight: var(--font-semibold);
  letter-spacing: var(--tracking-wide);
  padding-bottom: var(--padding-2xl);
  width: fit-content;
  background: linear-gradient(
    90deg,
    var(--secondary-color-500),
    var(--secondary-color-100),
    var(--secondary-color-200)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.dashboard-page-title::after {
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  background-color: var(--neutral-color-100);
  margin-top: 5px;
  border-radius: var(--border-radius-sm);
}

/* Responsive design */

@media (max-width: 768px) {
  .dashboard-page-title {
    font-size: var(--text-4xl);
  }
}

@media (max-width: 480px) {
  .dashboard-page-title {
    font-size: var(--text-3xl);
  }
}
