.main-layout {
  background: radial-gradient(
    circle at top left,
    #1b1b1b 0%,
    var(--secondary-color-950) 50%
  );
}

.main-content {
  padding: 200px var(--padding-4xl) var(--padding-2xl);
  max-width: 1800px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .main-content {
    padding: 150px var(--padding-2xl) var(--padding-2xl);
  }
}

@media (max-width: 480px) {
  .main-content {
    padding: 150px var(--padding-lg) var(--padding-2xl);
  }
}
